[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = git@github.com:alswl/hugo-paper.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
