#enclose-wrapper {
	position: relative;
	z-index: 0;
	border: 4px solid #DDD;
	background-color: #FFF;
}
#form-add-tag {
	margin-left: 8px;
	position: absolute;
	padding: 5px 3px;
	border: 1px solid #005EAC;
	float: left;
	display: inline;
	background-color: #FFF;
}
#select-area-box {
	position: absolute;
	border: 5px solid #D8DFEA;
	float: left;
}
#select-area {
	position: relative;
	padding: 0;
	border: 2px solid #005EAC;
	z-index: 15;
	cursor: move;
	background: url(spacer.gif) no-repeat -1px -1px;
}
#select-area-box span {
	position: absolute;
	border: 1px solid #005EAC;
	width: 8px;
	height: 8px;
	background-color: #FFF;
	font-size: 0;
	z-index: 18;
}
#select-area-box span.north-west-resize {
	cursor: nw-resize;
	left: 0;
	top: 0;
	margin-left: -1px;
	margin-top: -1px;
}
#select-area-box span.north-east-resize {
	cursor: ne-resize;
	right: 0;
	top: 0;
	margin-right: -1px;
	margin-top: -1px;
}
#select-area-box span.south-west-resize {
	cursor: sw-resize;
	left: 0;
	bottom: 0;
	margin-left: -1px;
	margin-bottom: -1px;
}
#select-area-box span.south-east-resize {
	cursor: se-resize;
	right: 0;
	bottom: 0;
	margin-right: -1px;
	margin-bottom: -1px;
}
#enclose-wrapper ul#tag-list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	float: left;
}
#enclose-wrapper ul#tag-list li {
	list-style: none;
	float: left;
}
#enclose-wrapper ul#tag-list li a {
	color: #F60;
}